<div class="footer wf-section">
  <div class="footer-block">
    <div class="footer-divider"></div>
    <div class="w-layout-grid footer-grid">
      <div id="w-node-_23a2213f-f1e5-367e-fc87-519567ce2116-67ce2112" class="left-block-footer">
        <a href="/" class="footer-brand w-inline-block">
          <img src="/assets/images/InÖG_Logo_1.1-Lang-Regular_RGB.svg" width="233" alt="Innovationsverbund Öffentliche Gesundheit e.V." class="logo">
        </a>
        <p class="footer-paragraph">
          Wir verbinden Innovationen
          <br>
          und den ÖGD miteinander
        </p>
      </div>
      <div id="w-node-_23a2213f-f1e5-367e-fc87-519567ce212f-67ce2112" class="block-footer">
        <h5 class="footer-title">Kontakt</h5>
        <a href="mailto:{{ site.email }}" class="footer-link">{{ site.email }}</a>
        <a href="/impressum.html" class="footer-link">Impressum</a>
        <a href="/datenschutz.html" class="footer-link">Datenschutz</a>
      </div>
      <div id="w-node-_23a2213f-f1e5-367e-fc87-519567ce2126-67ce2112" class="block-footer">
        <h5 class="footer-title">Partner</h5>
        <a href="https://www.steiger-stiftung.de" target="_blank" rel="noopener" class="footer-link">Björn Steiger Stiftung</a>
      </div>
      <div id="w-node-_8e5575b2-8b73-e7f3-4abc-bef8a098aa3b-67ce2112" class="block-footer">
        <h5 class="footer-title">Unterstützen</h5>
        <a href="https://github.com/InOG-projects" target="_blank" rel="noopener" class="footer-link">GitHub</a>
        <a href="https://www.patreon.com/inoeg" target="_blank" rel="noopener" class="footer-link">Patreon</a>
      </div>
    </div>

    <div class="footer-divider"></div>
  </div>
</div>
