<meta charset="utf-8">
<title>Offener Brief ePA 2025 – Fünf Schritte zu mehr Vertrauen in die ePA</title>
<meta content="Fünf Schritte zu mehr Vertrauen in die ePA" name="description">
<meta content="Fünf Schritte zu mehr Vertrauen in die ePA" property="og:title">
<meta content="Fünf Schritte zu mehr Vertrauen in die ePA" property="og:description">
<meta content="Fünf Schritte zu mehr Vertrauen in die ePA" property="twitter:title">
<meta content="Fünf Schritte zu mehr Vertrauen in die ePA" property="twitter:description">
<meta property="og:type" content="website">
<meta content="summary_large_image" name="twitter:card">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
<link href="/assets/css/webflow.css" rel="stylesheet" type="text/css">
<link href="/assets/css/inog-website.webflow.css" rel="stylesheet" type="text/css">
<link href="/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
<link href="/assets/images/webclip.jpg" rel="apple-touch-icon">
