<!-- Supporter start -->
<div class="section wf-section">
  <div class="block-content customer-margin">
    <h5 class="customers-text">unterstützt von</h5>
    <div class="w-layout-grid grid-customers">
      <a
        id="w-node-supported_by"
        href="https://wirvsvirus.org/umsetzungsprogramm/"
        target="_blank"
        rel="noopener noreferrer"
        class="customer w-inline-block">
        <img src="/assets/images/5f33aa3530b4800339069560_umsetzungsprogramm-2-p-500-2.png" width="150" alt="WirVsVirus" class="customer-logo">
      </a>
      <a
        id="w-node-supported_by"
        href="https://www.steiger-stiftung.de/"
        target="_blank"
        rel="noopener noreferrer"
        class="customer w-inline-block">
        <img src="/assets/images/Element-1bss.png" width="147" alt="Björn Steiger Stiftung" class="customer-logo">
      </a>
      <a
        href="https://www.bmbf.de"
        target="_blank"
        rel="noopener noreferrer"
        class="customer w-inline-block">
        <img src="/assets/images/1200px-BMBF_Logo.svg.png" width="217" alt="Bundesministerium für Bildung und Forschung" class="customer-logo">
      </a>
    </div>
  </div>
</div>
<!-- Supporter end -->
