---
# Default Template / Empty Frontmatter
---
<!doctype html>
<html lang="{{ site.locale | replace: "_", "-" | default: "de" }}" class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    <div class="section wf-section">
      <div class="single-hero-block">
        <h1 class="single-page-title">{{ page.title | default: site.title }}</h1>
      </div>
    </div>
    <div class="section wf-section">
      <div class="block-content">
        <div class="content-box">
          <!-- content start -->
          {{ content }}
          <!-- content end -->
        </div>
      </div>
    </div>

    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
